## Settings file was created by plugin CactusPie.ContainerQuickLoot v1.4.2
## Plugin GUID: com.cactuspie.containerquikloot

[Container quick loot setting]

## Automatically put the items in containers while transferring them with ctrl+click
# Setting type: Boolean
# Default value: true
Enable for Ctrl+click = true

## Automatically put loose loot in containers
# Setting type: Boolean
# Default value: true
Enable for loose loot = true

## Automatically merge stacks (money, ammo, etc.) when transferring them into a container
# Setting type: Boolean
# Default value: true
Merge stacks = true

## Automatically merge stacks (money, ammo, etc.) when quickly transferring items to containers not marked with a @loot tag
# Setting type: Boolean
# Default value: true
Merge stacks for non-loot containers = true

## Customize the keyword used to denote loot containers in tags
## Default value: "@loot"
# Setting type: String
# Default value: @loot
Customize the keyword used to denote loot containers in tags = @loot

